* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	text-align: center;
    color: #7b8993;
    font: 300 87.5%/1.5em 'Open Sans', sans-serif;
}

.form-wrapper {
    padding-top:0%;
    border-radius: 2px;
    margin: 0px auto;
    position: relative;
    width:50%;
}
.button-panel {
    margin: 0px 0 0;
    width: 100%;
}

.button-panel .button {
    -webkit-appearance: none;
    background: #009dff;
    border: none;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {

    background: #00c8ff;
}
.form-wrapper{
    padding-top:0px;
    border-radius: 2px;
    margin: 20px auto;
    position: relative;
    width:50%;
}


.cent {
    text-align: center;
    color: #000;
}

.view {
    text-align: center;
    text-decoration: none;
    color: #7b8993;
    padding-top:0px;
}

#ref {
    text-align: center;
    text-decoration: underline;
    color: #7b8993;
    padding-top:0px;
    font-size: 16px;
}

#ref:hover {
    text-align: center;
    color: #009dff;
    text-decoration: underline;
    -webkit-animation: hue 60s infinite linear;
    padding-top:0px;
    font-size: 16px;
}
ul li{
display: inline-block;
list-style-type: none;
}
.h1h{
  color: #000;
}
.lil{
  display: inline-block;
}
input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: -webkit-calc(3em + 2px);
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
input[type="text"][required]:focus {
  border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
  -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 2.3em;
  margin-top: -webkit-calc(-3em - 2px);
  margin-top: calc(-3em - 2px);
  margin-bottom: -webkit-calc((3em - 1em) + 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 -webkit-calc(1em + 2px);
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-background-size: 100% 5px;
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}