<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w.volunteer.mapper.ScoreMapper">
    <insert id="create" parameterType="com.w.volunteer.pojo.common.Score">
        insert into grade(
        volunteerCode,
        year,
        areaId,
        grade,
        batch,
        department,
        schoolName,
        rank,
        schoolAreaId
        ) values (
        #{volunteerCode},
        #{year},
        #{areaId},
        #{grade},
        #{batch},
        #{department},
        #{schoolName},
        #{rank},
        #{schoolAreaId}
        )
    </insert>

    <insert id="batchCreate" parameterType="list">
        insert into grade(
            volunteerCode,
            year,
            areaId,
            grade,
            batch,
            department,
            schoolName,
            rank,
            schoolAreaId
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.volunteerCode},
                #{item.year},
                #{item.areaId},
                #{item.grade},
                #{item.batch},
                #{item.department},
                #{item.schoolName},
                #{item.rank},
                #{item.schoolAreaId}
            )
        </foreach>
    </insert>
</mapper>